@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

body {color: #333;}
img {display: block; max-width: 100%;}
li {list-style: none;}
a {text-decoration: none; color: #333;}

#layout {max-width: 1000px; margin: auto;}

header {background: rgb(111, 69, 47); color: white; text-align: center; padding: 20px;}

nav {margin-top: 20px; display: flex; margin: 15px 10px 20px 10px;}
a.menu { border: 2px solid skyblue; padding:10px; flex: 1; text-align: center; font-weight: bold;}
a.menu:hover {background: dodgerblue; color: white; font-weight: bold;}

#content {display: flex; flex-direction: column;}

main {margin: 0 10px 10px 10px;}
main p {line-height: 160%;}
main img {padding: 5px 0 5px 0; width: 100%;}

aside {background: rgb(129, 199, 243); margin: 0 10px 10px 10px; padding: 10px;}
aside h2 {padding: 5px 0;}
aside p {line-height: 160%;}

footer {background: lightgray; text-align: center; padding: 10px;}

@media(min-width:1000px) {
  #content {flex-direction: row;}
  main {flex: 2;}
  aside {flex: 1;}
}